#root {
  /* margin: auto;
  padding: 30px; */
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end; */
  position: absolute;
  width: fit-content;
  height: auto;
  /* font-family:Arial, Helvetica, sans-serif; */
}
html{
  font-size: 16px;
}
*{
  font-family: 'Bungee';
  width: fit-content;
}
body{
  /* color: aliceblue; */
  /* background-color: rgb(245, 4, 4); */
  margin: 0;
  padding: 0;
  /* background-size: cover;
  background-repeat: no-repeat; */
}
body::-webkit-scrollbar {
  display: none;
}
@media (max-width:700px){
  html{
    font-size: 14px;
  }
}
@media (max-width:500px){
  html{
    font-size: 12px;
  }
  #root{
  background: linear-gradient(89deg,  rgba(34, 87, 187, 1) 0%, rgba(41, 135, 170, 1) 49%, rgba(43, 159, 173, 1) 100%, rgba(43, 159, 173, 1) 100%);
  }
}
@media (max-width:300px){
  html{
    font-size: 10px;
  }
}
