.achieve_container {

  /* left: 3em; */
  /* font-family: 'Nunito'; */
  /* top: 1%;
    left: 1%; */
  background-color: rgb(92, 156, 229);
  border-radius: 35px;
  width: 90dvw;
  height: 90dvh;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 50px;
  margin-top: 100px;
  margin-left: 30px;
  /* margin: 1% 1%; */
}
@media (max-width: 700px) {
  .achieve_container {
    left:0px;
    flex-direction: column;
  }
}
@media (max-width:500px) {
    .achieve_container{
        left:0px;
        width: 100vw;
    }
}