.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  backdrop-filter: blur(20px);
  border-radius: 50px;
  padding: 5px 40px;
  height: 40px;
  /* margin-left: 2%; */
  z-index: 99;
}
.nav input[type="checkbox"] {
  display: none;
}
.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.2;
  position: relative;
}
.a {
  position: relative;
}
.nav_links .a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: rgb(255, 255, 255);
  bottom: -3px;
  left: 0px;
  transition: width 0.7s ease 0s;
}
.nav_links .a:hover::after {
  width: 100%;
}
.nav a {
  cursor: pointer;
  text-decoration: none;
}
.nav_menu {
  display: none;
}
.nav_menu img {
  width: 30px;
  height: 30px;
}
.menu_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 13em;
  height: 0em;
  background-color: rgb(59, 176, 133);
  border-radius: 30px;
  transition: height 2s ease;
}
.menu_active {
  height: 11em;
}
.menu_list a {
  overflow: hidden;
}
.menu_list a:hover {
  border: 2px dotted white;
}

/* The switch - the box around the slider */
.switch_black {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  border-radius: 34px;
  border: 1.5px solid white;
}

.switch_white {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
  border-radius: 34px;
  border: 2px solid black;
  color: black;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.white_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.black_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.black_slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.white_slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(243, 239, 239);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:focus + .white_slider,
.black_slider {
  box-shadow: 0 0 1px black;
}

input:checked + .black_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.round {
  border-radius: 34px;
}

.round:before {
  border-radius: 50%;
}

@media (max-width: 700px) {
  .nav_links,
  .switch_white,
  .switch_black {
    display: none;
  }
  .nav_menu {
    width: 300px;
    height: 15em;
    display: flex;
    position: relative;
    top: 6.5em;
    flex-direction: column;
    align-items: flex-end;
  }
  .nav {
    position: fixed;
    width: 77vw;
  }
}

@media (max-width: 500px) {
  .switch_black {
    display: none;
  }
  .switch_white {
    display: none;
  }
  .nav {
    width: 100vw;
  }
}
