.mail_container {
  margin: 10% auto;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.mail_form {
  width: 40%;
  height: 80vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  padding: 2% 2%;
  box-sizing: border-box;
  background-color: transparent;
  backdrop-filter: blur(20px);
}
.mail_form input,
textarea {
  border: 2px solid white;
  width: 95%;
  background-color: transparent;
}
.mail_form textarea {
  height: 30%;
}
.mail_form input[type="text"],
input[type="email"] {
  border: 0px;
  border-bottom: 2px solid white;
}
.mail_form .user_name,
.mail_form .user_email {
  position: relative;
  top: 20px;
}
.mail_form input[type="text"]:focus ~ .user_name {
  transform: translateY(-10px);
  transition: all 0.5s ease;
}
.mail_form input[type="email"]:focus ~ .user_email {
  transform: translateY(-10px);
  transition: all 0.5s ease;
}
.mail_form input[type="email"]:focus,.mail_form input[type="text"]:focus ,.mail_form textarea:focus{
  outline: none;
}
.mail_form input[type="submit"] {
  width: 100px;
  border-radius: 20px;
  margin: 10px auto;
  color: inherit;
}
.mail_container img {
  width: 45%;
  height: 55%;
  margin: 5% auto;
}

@media (max-width: 700px) {
  .mail_container {
    flex-direction: column;
    align-items: center;
  }
  .mail_container img {
    width: 80%;
    height: 5%;
  }
  .mail_form {
    width: 80%;
  }
}
