.frame1 img {
  width: 35%;
  z-index: 2;
  margin-right: 30px;
  background: linear-gradient(
    90deg,
    rgba(245, 245, 247, 1) 0%,
    rgba(135, 135, 143, 1) 56%,
    rgba(51, 51, 57, 1) 83%,
    rgba(2, 24, 28, 1) 100%
  );
  border-radius: 100%;
}
.frame1 {
  width: 95vw;
  height: 90vh;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  box-sizing: border-box;
}
.frame1_content {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.frame1_content .about_text {
  font-size: 0.7em;
  height: 10%;
  font-family: "Nunito";
}
.frame1_content .hi,
.Im {
  margin: 0px;
  display: block;
  padding: 0px;
  line-height: 100%;
  color: aliceblue;
  font-size: 1.7em;
  text-shadow: 5px 5px black;
}
.frame1_content .name {
  background-image: url("src/assets/rainbow.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7em;
  text-shadow: -3px -3px rgb(255, 255, 255);
  margin-left: 20px;
  line-height: 1.1em;
}
.name_container {
  display: flex;
  width: 100%;
}
@media (max-width: 700px) {
  .frame1 {
    width: 100%;
  }
  .frame1_content {
    width: 120%;
    height: 70%;
  }
}

@media screen and (max-width: 500px) {
  .frame1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    margin-bottom: 10%;
  }
  .frame1_content {
    width: 100%;
    font-size: 85%;
    margin: 0;
    justify-content: flex-start;
  }
}
